.selUsr{
    width: 30%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.btnDiv{
    width: 10%;
    position: absolute;
    top: 40%;
    right: 40%;
    transform: translate(-50%, -50%);
    padding: 10px;
}